<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
      <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
  {{ end }}
  <p class="copyright">
    {{ with .Site.Copyright | safeHTML }}
      {{ . }}
    {{ else }}
      &copy; {{ .Site.LastChange.Year }}
      {{if isset .Site.Params "author" }}
        {{ .Site.Params.author }}
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    {{ end }}. <br>
    {{ i18n "attribution" . | safeHTML }}
  </p>
</footer>
<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>
<script>
  var delaycss1 = document.createElement('link');
  delaycss1.rel = 'stylesheet';
  delaycss1.href = "/css/transition.css"
  document.head.appendChild(delaycss1);

</script>
<script>
  var delaycss2 = document.createElement('script');
  delaycss2.setAttribute("data-ad-client", "ca-pub-9942257923288633")
  delaycss2.defer = true;
  delaycss2.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
  document.head.appendChild(delaycss2);
</script>
<script src="https://kit.fontawesome.com/be54eb011a.js" crossorigin="anonymous" async></script>
<script src="/js/ga-cookie-opt-in.js"></script>        
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" async>
