a.share-btn.line {
	background: #3ce64a !important;
}

a.share-btn.line:hover {
	background: #36a540 !important;
}

:root {
	--post-list-img-size: 150px;
}

a.image.featured img {
	width: var(--post-list-img-size);
	height: var(--post-list-img-size);
	object-fit: cover;
}

div.eyecatch a {
	width: 200px;
	align-content: center;
}

.post a.image img {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	width: 100%;
}

.post a.image:hover img {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}



@media (max-width: 768px) {
	a.image.featured {
		display: inline-block;
		padding: 10px;
	}
}



@media (max-width: 1024px) {
	body>div>section {
		padding: 2vw;
		width: calc(100vw - 4vw);
	}
}

div#disqus_thread{
color: #333333 !important;
}

mjx-container {
	background-color: rgba(113, 139, 133, 0.199);
	color: darkslategrey;
	padding: 15px 0% 15px 0%;
	margin: 3% 10% 3% 10% !important;
	border-radius: 10px;
}
mjx-container:hover {
	background-color: rgb(226, 227, 235);
	transition: color ease;

}
.socnet-icons .fa-github{
	color: #24292e;
}
.socnet-icons .fa-youtube{
	color: #FF0000;
}
.socnet-icons .fa-instagram{
	background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
	background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	text-stroke: .5px transparent;
	-webkit-text-stroke: .5px transparent;
}
.socnet-icons .fa-instagram:hover{
	background: #2abeec;
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}
.socnet-icons .fa-twitter{
	color: #1da1fc;
}

.socnet-icons .fa-brain {
	color: #20beff;
}
.socnet-icons .fa-code {
	color: black;
}

.socnet-icons .fa-envelope {
	color: rgb(208, 135, 226);
}
.socnet-icons :hover{
	color: #2abeec;
}