

a.share-btn.line {
    background: #3ce64a;
}

a.share-btn.line:hover {
    background: #36a540;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
i,
p,
time,
span,
li,
a.button,
a#back-to-top,
article.post {
    color: rgb(116, 196, 186);
}

a.share-btn i.fas,
i.fab {
    color: rgb(201, 201, 201);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: dimgrey;
    filter: brightness(160%);
}

a.share-btn {
    filter: brightness(60%);
}

nav {
    background-color: rgb(38, 24, 44);
}

a.link,
#site-nav-menu {
    background: rgb(38, 24, 44);
}

#site-header .flyout-menu {
    background-color: rgb(38, 24, 44);
}

.flyout-menu a.link {
    color: rgb(139, 112, 87);
}

a.link {
    border-bottom: dotted 1px rgba(160, 160, 160, .65);
    color: inherit;
    text-decoration: none;
    -webkit-transition: color .2s ease, border-bottom-color .2s ease;
    -moz-transition: color .2s ease, border-bottom-color .2s ease;
    -ms-transition: color .2s ease, border-bottom-color .2s ease;
    -o-transition: color .2s ease, border-bottom-color .2s ease;
    transition: color .2s ease, border-bottom-color .2s ease;
}

a.link:before {
    -webkit-transition: color ease;
    -moz-transition: color ease;
    -ms-transition: color ease;
    -o-transition: color ease;
    transition: color ease
}

a.link:hover {
    border-bottom-color: transparent;
    color: #2ebaae
}

body {
    background-color: rgb(18, 13, 20);
    background: rgb(18, 13, 20);
}

article.post,
article.mini-post header {
    background: rgb(12, 22, 36);
    border: darkorange;
}


section#recent-posts .mini-post{
    border: #9ce0db;
}
div#disqus_thread{
    color: rgb(116, 196, 186) !important;
}

mjx-container {
	background-color: rgba(128, 128, 128, 0.404);
	color: antiquewhite;
	padding: 15px 0% 15px 0%;
	margin: 3% 10% 3% 10% !important;
}
mjx-container:hover {
    background-color: rgb(49, 49, 49);
}
.socnet-icons .fa-code {
	color: whitesmoke;
}
.socnet-icons .fa-github {
	color: #f6f8fa;
}

.socnet-icons .fa-instagram{
    text-stroke: .5px transparent;
    -webkit-text-stroke: .5px transparent;
}
body::after{
    background-color: rgb(38, 24, 44);
    display: block;
}
html::after{
    background-color: rgb(38, 24, 44);
    color: rgb(38, 24, 44);
    transition: 1s ease-in-out;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier();
}

mjx-container,div.MathJax_Display,div.content p div.MathJax_PHTML_Display,div.MathJax_MathML,div.MathJax_SVG_Display,span.MJXc-display{
	background-color: rgba(113, 139, 133, 0.199);
	color: darkslategrey;
	padding: 15px 0% 15px 0%;
	margin: 3% 10% 3% 10% !important;
	border-radius: 10px;
}
mjx-container:hover,div.MathJax_Display:hover,div.content p div.MathJax_PHTML_Display:hover,div.MathJax_MathML:hover,div.MathJax_SVG_Display:hover,span.MJXc-display:hover {
	background-color: rgb(55, 58, 85);
	transition: color ease;

}
strong{
	box-shadow: 0 -.5rem 0 0 #a34c32b2 inset;
  }
  div.content a:link{
	box-shadow: 0 -.5rem 0 0 #526296b2 inset;
  }  
  div.content a:link:hover{
	box-shadow: 0 -.8rem 0 0 #52629663 inset;
    transition: .3s ease-in-out;
    color: #2ebaae
  }
/* @media (prefers-color-scheme: dark) {}
   */